* {
    font-family: 'Manjari', sans-serif;
}

#introduction {
    font-size: 30px;
    width: 100%;
}

html , body { /* whole html */
    background-color: rgb(64, 64, 64);
    color: ghostwhite; /* text-color */
    margin: 35px 0 0 0;
}

header { /* logo and introduction */
    width: 100%;
    top: 0;
    position: fixed;
    background-color: rgb(48, 48, 48);
    vertical-align: center;
}

header:hover{ /* logo and introduction */
    box-shadow:0 -10px 30px rgb(122, 122, 122);
}

nav { /* logo and introduction */
    display: flex;
    align-items: center;
}

nav div { /* logo and introduction */
    padding: 5px 5px 0px 5px;
}

section {
    margin-right: 90px;
    margin-left: 90px;
}

.link{
    color: #5F9EA0;
}

.profile_picture{
    margin: 35px 35px 35px 35px;
    margin-bottom: 90px;
    width: 200px;
    float: left;
}

section > h1{
    color: lightblue;
    margin-bottom: 10px;
    clear: both;
}

.info{
    margin-top: 100px;
    margin-right: 35px;
    float: left;
    font-size: 20px;
}

.number{
    float: left;
    margin-top: 110px;
    margin-left: 35px;
    font-size: 50px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

table, th, td{
    border: 1px solid black;
    padding: 10px;
}

th{
    background: dimgray;
    color: white;
}

tr{
    background: lightgray;
    color: black;
}

footer{
    position: fixed;
    bottom: 0px;
    left: 50%;
}